@media screen and (max-width:767px) {
    .benefits-list__item:not(:last-child){
  margin-bottom: 30px;
    }

    .benefist-list__box{
        display: flex;
    align-items: center;
    justify-content: center;
        width: 100%;
        height: 120px;
        background-color: #F5F4FA;
        border-radius: 4px;
        margin-bottom: 30px;
        }

        .benefits-list__title{
@include font(14px, 700, 16px);
letter-spacing: 0.03em;
text-align: center;
text-transform: uppercase;
color: var(--secondary-color);
margin-bottom: 10px;
}

.benefits-list__text{
@include font( 14px, 400, 24px);
letter-spacing: 0.03em;
}
}

@media screen and (min-width:768px) and (max-width: 1199px) {
    .benefits-list{
    display: flex;
    flex-wrap: wrap;
    margin-right: -30px;
margin-bottom: -30px;
  
}

.benefits-list__item{

width: calc((100% - 2 * 30px) / 2);
margin-right: 30px;
margin-bottom: 30px;
}

.benefist-list__box{
    display: flex;
    align-items: center;
    justify-content: center;
width: 354px;
height: 120px;
background-color: #F5F4FA;
border-radius: 4px;
margin-bottom: 30px;
}

.benefits-list__title{
font-weight: 700;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--secondary-color);
margin-bottom: 10px;
}

.benefits-list__text{
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
}
}

@media screen and (min-width: 1200px) {
    .benefits-list{
    display: flex;
    margin-left: -30px;
    margin-top: -30px;
}

.benefits-list__item{
width: 270px;
margin-left: 30px;
margin-top: 30px;
flex-basis: calc((100% - 120px) / 4);
}

.benefist-list__box{
    display: flex;
    align-items: center;
    justify-content: center;
width: 270px;
height: 120px;
background-color: #F5F4FA;
border-radius: 4px;
margin-bottom: 30px;
}

.benefits-list__title{
font-weight: 700;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--secondary-color);
margin-bottom: 10px;
}

.benefits-list__text{
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
}
}
