.footer{
    background-color:#2F303A;
}

@media screen and (max-width:767px){

}

@media screen and (min-width:768px) and (max-width: 1199px){
    .footer-content{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: baseline;

    }
}
@media screen and (min-width: 1200px){
    .footer-content{
        display: flex;
        align-items: baseline;
    }
}

