.section_no-padding-top{
    padding-top: 0;
}

.work-list{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
}

.work-list__item{
    position: relative;
    width: 370px;
margin-left: 30px;
margin-top: 30px;
flex-basis: calc((100% - 90px) / 3);
}

.work-list__over-container{
    @extend %align;
    width: 100%;
    height: 70px;
    position: absolute;
   bottom: 0;
   background-color: rgba(47, 48, 58, 0.8);
}

.work-list__over-text{
font-weight: 700;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #FFFFFF;
}