.work{
    padding-top: 0;
}

.work-title{
font-weight: 700;
font-size: 36px;
line-height: 1.16;
text-align: center;
letter-spacing: 0.03em;
color: var(--secondary-color);
margin-bottom: 50px;
}

.work-list{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
}

.work-list-item{
    position: relative;
    width: 370px;
margin-left: 30px;
margin-top: 30px;
flex-basis: calc((100% - 90px) / 3);
}

.over{
    @extend align;
    width: 100%;
    height: 70px;
    position: absolute;
   bottom: 0;
   background-color: rgba(47, 48, 58, 0.8);
}

.over-text{
font-weight: 700;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #FFFFFF;
}