h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul{
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img{
    display: block;
}

.list{
    list-style: none;
}
.link{
    text-decoration: none;  
}

body{
    font-family: var(--primary-font);
    color: var(--text-color);
}

.section__title{
  @extend %title
}